<section class="card card__container">
  <div class="card__header-wrapper">
    <div 
      class="card__header" 
      (click)="rotateImage()"
      (mouseenter)="scaleImage('hover')"   
      (mouseleave)="scaleImage('rest')"
      [@scaleImageState]="scale"
      >
      <img 
        [@rotatedImageState]='rotated' 
        [src]="dog.images[0]" 
        class="card__image"
      />
    </div>
  </div>
  
  <div class="card__body">
    <h3>
      Dog breeds: {{ dog.breed }}
    </h3>
    <ul appHoverImageStyle>
      <li>
        Origin: {{ dog.country }}
      </li>
      <li>
        Life long: {{ dog.age }}
      </li>
      <li>
        Size: {{ dog.size.body }}
      </li>
      <li>
        Height: {{ dog.size.height }} centimeters at the withers
      </li>
      <li>
        Weight: {{ dog.size.weight }} kilogram
      </li>
    </ul>
  </div>
</section>
