<section class="home home__container">
    <header class="content">
        <app-header-menu
            [menuItems]="menuItems"
            [logo]="logo"
            >
        </app-header-menu>
    </header>
    <app-loading-spinner *ngIf="isLoading$ | async"></app-loading-spinner>
    <main class="content">
        <ng-container *ngIf="errorMessage$ | async as message; else showContent">
            <p style="color: red; text-align:center; text-transform: uppercase;">
                Error from backend: {{ message }}
            </p>
        </ng-container>
        <ng-template #showContent>
            <div [@routerStateAnimation]="outlet.isActivated ? outlet.activatedRoute : ''">
                <router-outlet #outlet="outlet"></router-outlet>
            </div>
        </ng-template>
        
    </main>
    <footer class="content">
        <app-footer></app-footer>
    </footer>
</section>