<article class="dogs dogs__list">

    <section class="dogs__filter">
        <app-dogs-filter
            [searchQuery]="searchQuery"
            >
        </app-dogs-filter>
    </section>

    <section class="dogs__pagination">
        <app-dogs-pagination
            [pageSizes]="pageSizes"
            [itemsPerPage]="itemsPerPage"
            [currentPage]="currentPage"
            (currentCountPageSize)="onCurrentCountPageSize($event)"
            (currentPageChange)="currentPageChange($event)"
            >

        </app-dogs-pagination>
    </section>

    <section class="dogs__card">
        <ng-container *ngFor="let dog of dogs$ 
            | async 
            | paginate: {
                itemsPerPage: itemsPerPage,
                currentPage: currentPage,
                totalItems: count
            }
            trackBy: trackByFn"
            >
            <app-dogs-card
                [dog]="dog"
                >
            </app-dogs-card>
        </ng-container>
    </section>

</article>